{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Management Application</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="logo">Item Management Application</div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        
        <div class="buttons">
          <button class="signin"><a href="{% url 'login_view' %}" class="signin">Sign In</a></button>
          <button class="signup"><a href="{% url 'registration_view' %}" class="signup">Sign Up</a></button>
          <button><a href="{% url 'logout_view' %}">logout_view</a></button>
      </div>
    </header>
</body>
</html>
