{% extends "base.html" %}
{% block content %}
  <section class="container">
        <div class='items'>
            <h1>Item list</h1>
            <button><a href="{% url 'create_item' %}">Create</a></button>
        </div>
        <div class='items' id='item_list'>
            <table border="1">
                <tr>
                  <th>Item title</th>
                  <th>Item descriptions</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Update</th>
                </tr>
                {% for item in items %}
                <tr>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.completed}}</td>
                  <td><a href="{% url 'item_detail' task.name %}">View</a></td>
                  <td><a href="{% url 'item_update' task.name %}">edit</a></td>
                  <td><a href="{% url 'item_delete' task.id %}">delete</a></td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </section>

{% endblock %}